# INFO 4900 — Week Five

## Preparing Data

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import re

In [14]:
# Load data
polls = gpd.read_feather("data/polling_station_coords.feather")
districts = gpd.read_file("data/Uganda_Districts-2020---136-wgs84.zip")
names = pd.read_feather("data/names_with_kingdoms.feather")

polls1 = polls
names1 = names

polls2 = polls
names2 = names

## Sanitizing Text: polling_station_coords.feather

In [3]:
# Stripping whitespace
polls['PS_name'] = polls['PS_name'].str.strip()

In [4]:
# Lowering case
polls['PS_name'] = polls['PS_name'].str.lower()

In [5]:
# Removing special characters
polls['PS_name'] = polls['PS_name'].str.replace('[^\w\s]', '', True)

/var/folders/33/qp5k0v8128136rvjkr63g0x00000gn/T/ipykernel_54185/2074057513.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  polls['PS_name'] = polls['PS_name'].str.replace('[^\w\s]', '', True)

In [6]:
# Second look at dataframe
polls.head()

,PS_name,PS_code,VoteReg_district_name,VoteReg_district_code,VoteReg_county_name,VoteReg_county_code,VoteReg_subcounty_name,VoteReg_subcounty_code,VoteReg_parish_code,VoteReg_parish_name,...,FDC_Registered,Turnout,REG_VOTERS,YOWERI_KAGUTA_MUSEVENI,KIZZA_BESIGYE_KIFEFE,VALID_VOTES,village_mean_distance,villages,lat_lon,points
0,adyeda centre,1,APAC,1,KWANIA COUNTY,2,ADUKU,1,1,ADYEDA,...,0.115523,0.671480,277.0,144.0,32.0,182.0,2285.087273,ADYEDA IMALO;ANYWAL;ATAKARA;,"[2.065772095790027, 32.715481326735095]",POINT (32.71548 2.06577)
1,aporwegi ps,2,APAC,1,KWANIA COUNTY,2,ADUKU,1,1,ADYEDA,...,0.146724,0.646724,702.0,283.0,103.0,430.0,1127.896277,ADYEDA IMALO;ANYWAL;APORWEGI AATAKARA,"[2.058047456592412, 32.72281709757338]",POINT (32.72282 2.05805)
2,adyeda imalo,3,APAC,1,KWANIA COUNTY,2,ADUKU,1,1,ADYEDA,...,0.137072,0.753894,321.0,190.0,44.0,238.0,1921.654206,ADYEDA IMALO;ANYWAL,"[2.065772095790027, 32.715481326735095]",POINT (32.71548 2.06577)
3,alira b,1,APAC,1,KWANIA COUNTY,2,ADUKU,1,2,ALIRA,...,0.266055,0.694954,872.0,328.0,232.0,584.0,1695.521839,AKOT A;AKOT B;AKWODONG B;AKWOYO;ALIRA A;ALIRA ...,"[2.0821059545915097, 32.761479779076204]",POINT (32.76148 2.08211)
4,akot a,2,APAC,1,KWANIA COUNTY,2,ADUKU,1,2,ALIRA,...,0.344000,0.682667,750.0,218.0,258.0,504.0,1653.587131,AKOT A;AKOT B;AKWODONG A;AKWODONG B;AKWOYO;ALI...,"[2.042473960840479, 32.742188123783855]",POINT (32.74219 2.04247)

## Sanitizing Text: names_with_kingdoms.feather

In [7]:
# Stripping whitespace
names['polling_station'] = names['polling_station'].str.strip()

In [8]:
# Lowering case
names['polling_station'] = names['polling_station'].str.lower()

In [9]:
# Removing special characters
names['polling_station'] = names['polling_station'].str.replace('[^\w\s]', '', True)

/var/folders/33/qp5k0v8128136rvjkr63g0x00000gn/T/ipykernel_54185/820029302.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  names['polling_station'] = names['polling_station'].str.replace('[^\w\s]', '', True)

In [10]:
# Second look at dataframe
names.head()

,Unnamed: 0,appid_receipt_num,constituency,constituency_num,date_of_birth,district,district_num,other_name,parish,parish_num,polling_station,polling_station_num,sex,sub_county,sub_county_num,surname,village,voter_num,d_names,region
0,0,1206420000MP6/CF8407,KWANIA COUNTY,2,26-12-1984,Apac,1,CHRISTINE,ADYEDA,1,adyeda centre,1,F,ADUKU,1,ABANG,ANYWAL,61281069,Apac,Lango
1,1,0906720000RKU/CF4900,KWANIA COUNTY,2,10-05-1949,Apac,1,BITU,ADYEDA,1,adyeda centre,1,F,ADUKU,1,ABEJA,ATAKARA,58687089,Apac,Lango
2,2,1025320003CZW/CM910,KWANIA COUNTY,2,07-07-1991,Apac,1,JACOB,ADYEDA,1,adyeda centre,1,M,ADUKU,1,ABILI,ADYEDA IMALO,55386251,Apac,Lango
3,3,1328720001XLP/CF8200,KWANIA COUNTY,2,16-03-1982,Apac,1,JENIFFER,ADYEDA,1,adyeda centre,1,F,ADUKU,1,ABUNI,ANYWAL,64284712,Apac,Lango
4,4,0906720000UV6/CF7500,KWANIA COUNTY,2,05-05-1975,Apac,1,EVALINE,ADYEDA,1,adyeda centre,1,F,ADUKU,1,ABWOLI,ATAKARA,63056778,Apac,Lango

## Preliminary Merge

In [13]:
# Merge polling station and voter dataframes
merged_df = pd.merge(polls, names, left_on = "PS_name", right_on = "polling_station", how = "outer", indicator = True)

In [14]:
# Quick look at merged data
print(merged_df)

                PS_name  PS_code VoteReg_district_name  VoteReg_district_code  \
0         adyeda centre      1.0                  APAC                    1.0
1         adyeda centre      1.0                  APAC                    1.0
2         adyeda centre      1.0                  APAC                    1.0
3         adyeda centre      1.0                  APAC                    1.0
4         adyeda centre      1.0                  APAC                    1.0
...                 ...      ...                   ...                    ...
15400869            NaN      NaN                   NaN                    NaN
15400870            NaN      NaN                   NaN                    NaN
15400871            NaN      NaN                   NaN                    NaN
15400872            NaN      NaN                   NaN                    NaN
15400873            NaN      NaN                   NaN                    NaN

         VoteReg_county_name  VoteReg_county_code VoteReg_subcounty_name  \
0              KWANIA COUNTY                  2.0                  ADUKU
1              KWANIA COUNTY                  2.0                  ADUKU
2              KWANIA COUNTY                  2.0                  ADUKU
3              KWANIA COUNTY                  2.0                  ADUKU
4              KWANIA COUNTY                  2.0                  ADUKU
...                      ...                  ...                    ...
15400869                 NaN                  NaN                    NaN
15400870                 NaN                  NaN                    NaN
15400871                 NaN                  NaN                    NaN
15400872                 NaN                  NaN                    NaN
15400873                 NaN                  NaN                    NaN

          VoteReg_subcounty_code  VoteReg_parish_code VoteReg_parish_name  \
0                            1.0                  1.0              ADYEDA
1                            1.0                  1.0              ADYEDA
2                            1.0                  1.0              ADYEDA
3                            1.0                  1.0              ADYEDA
4                            1.0                  1.0              ADYEDA
...                          ...                  ...                 ...
15400869                     NaN                  NaN                 NaN
15400870                     NaN                  NaN                 NaN
15400871                     NaN                  NaN                 NaN
15400872                     NaN                  NaN                 NaN
15400873                     NaN                  NaN                 NaN

          ...  polling_station_num  sex          sub_county  sub_county_num  \
0         ...                  1.0    F               ADUKU             1.0
1         ...                  1.0    F               ADUKU             1.0
2         ...                  1.0    M               ADUKU             1.0
3         ...                  1.0    F               ADUKU             1.0
4         ...                  1.0    F               ADUKU             1.0
...       ...                  ...  ...                 ...             ...
15400869  ...                  6.0    M  GOMBE TOWN COUNCIL             6.0
15400870  ...                  6.0    F  GOMBE TOWN COUNCIL             6.0
15400871  ...                  6.0    M  GOMBE TOWN COUNCIL             6.0
15400872  ...                  6.0    M  GOMBE TOWN COUNCIL             6.0
15400873  ...                  6.0    M  GOMBE TOWN COUNCIL             6.0

            surname        village   voter_num    d_names   region      _merge
0             ABANG         ANYWAL  61281069.0       Apac    Lango        both
1             ABEJA        ATAKARA  58687089.0       Apac    Lango        both
2             ABILI   ADYEDA IMALO  55386251.0       Apac    Lango        both
3             ABUNI         ANYWAL  64284712.0       Apac    Lango        both
4            ABWOLI        ATAKARA  63056778.0       Apac    Lango        both
...             ...            ...         ...        ...      ...         ...
15400869      ZIJJA      GOMBE SSS  59821106.0  Butambala  Buganda  right_only
15400870  ZILIBAGWA  GOMBE VILLAGE  60526798.0  Butambala  Buganda  right_only
15400871   ZINABALA  GOMBE VILLAGE  59905174.0  Butambala  Buganda  right_only
15400872      ZINDA  GOMBE VILLAGE  63709609.0  Butambala  Buganda  right_only
15400873       ZIWA  GOMBE VILLAGE  51793494.0  Butambala  Buganda  right_only

[15400874 rows x 44 columns]

In [15]:
polls.groupby('PS_name')['PS_name'].count().sort_values(ascending = False)

PS_name
kasambya                   12
st kizito p/s              10
kalagala                    8
new apostolic church        8
kashenyi ps                 7
                           ..
kalkwaroc-z]                1
kalkwaro a-b]               1
kaliza community school     1
kalitusi tc                 1
zziru ps                    1
Name: PS_name, Length: 26812, dtype: int64

In [16]:
# Count of successfully and unsuccessfully merged rows
merged_df["_merge"].value_counts()

right_only    9124171
both          6259136
left_only       17567
Name: _merge, dtype: int64

In [17]:
# Find districts with the most stations in the polls dataset but not the names dataset
merged_df.query("_merge == 'left_only'").groupby(["_merge", "VoteReg_district_name"])["PS_name"].nunique().reset_index(name='num').sort_values(['num'], ascending=False)

         _merge VoteReg_district_name   num
109   left_only                WAKISO  1270
42    left_only               KAMPALA  1196
50    left_only               KIBAALE   424
9     left_only                  ARUA   405
47    left_only                KASESE   398
..          ...                   ...   ...
190  right_only               MITOOMA     0
191  right_only               MITYANA     0
192  right_only                MOROTO     0
193  right_only                  MOYO     0
335        both                 ZOMBO     0

[336 rows x 3 columns]

In [18]:
# Find districts with the most stations in the names dataset but not the polls dataset
merged_df.query("_merge == 'right_only'").groupby(["_merge", "d_names"])["polling_station"].nunique().reset_index(name='num').sort_values(['num'], ascending=False)

         _merge  d_names  num
221  right_only   Wakiso  443
162  right_only  Kibaale  321
121  right_only     Arua  311
159  right_only   Kasese  287
154  right_only  Kampala  267
..          ...      ...  ...
79    left_only  Mityana    0
80    left_only   Moroto    0
81    left_only     Moyo    0
82    left_only    Mpigi    0
335        both    Zombo    0

[336 rows x 3 columns]

In [19]:
# Find districts with the most stations matched in both datasets
merged_df.query("_merge == 'both'").groupby(["_merge", "d_names"])["polling_station"].nunique().reset_index(name='num').sort_values(['num'], ascending=False)

         _merge     d_names  num
307        both     Mubende  379
261        both    Kabarole  259
260        both      Kabale  257
257        both    Isingiro  217
308        both      Mukono  213
..          ...         ...  ...
110   left_only       Yumbe    0
109   left_only      Wakiso    0
108   left_only      Tororo    0
107   left_only  Ssembabule    0
168  right_only      Kitgum    0

[336 rows x 3 columns]

In [20]:
# Find names of unsuccessfully matched stations from polls dataset, sorted by population
merged_df.query("_merge == 'left_only'").groupby(["_merge", "PS_name"]).size().reset_index(name='num').sort_values(['num'], ascending=False)

           _merge                   PS_name  num
15859   left_only             st kizito p/s   10
6305    left_only                 kasozi ps    7
6215    left_only               kashenyi ps    7
1750    left_only  bugembe health centre iv    6
6727    left_only                kayonza ps    6
...           ...                       ...  ...
28049  right_only     muhokya prschool (a-l    0
28048  right_only                 muhito ps    0
28047  right_only                 muhira ps    0
28046  right_only                muhindi ps    0
50498        both                  zziru ps    0

[50499 rows x 3 columns]

In [21]:
# Find names of unsuccessfully matched stations from names dataset, sorted by population
merged_df.query("_merge == 'right_only'").groupby(["_merge", "polling_station"]).size().reset_index(name='num').sort_values(['num'], ascending=False)

           _merge         polling_station     num
23901  right_only                      st  194843
24009  right_only                      te   25179
24409  right_only                    zone   13176
19479  right_only        lc meeting place   11536
18277  right_only         kisaawe kikadde    9730
...           ...                     ...     ...
8138    left_only               mirambi t       0
8137    left_only               mirambi s       0
8136    left_only  mirambi primary school       0
8135    left_only              mirambi pr       0
36629        both               zziru pri       0

[36630 rows x 3 columns]

In [22]:
# Find names of successfully matched stations, sorted by population
merged_df.query("_merge == 'both'").groupby(["_merge", "PS_name"]).size().reset_index(name='num').sort_values(['num'], ascending=False)

           _merge               PS_name    num
23887        both              kasambya  70128
23442        both              kalagala  49496
21374        both                bukasa  26260
24749        both                kinoni  22141
27686        both  new apostolic church  21128
...           ...                   ...    ...
9975    left_only             ziru muto      0
9974    left_only              zingoola      0
9973    left_only          zinga island      0
9972    left_only                 zinga      0
14968  right_only            kishuro iv      0

[29937 rows x 3 columns]

In [26]:
unmerge_people = merged_df.query("_merge == 'right_only'").groupby(["_merge", "polling_station"])["polling_station"].count()
print(unmerge_people.sort_values(ascending = False))
print(unmerge_people.sum())

_merge      polling_station
right_only  st                        194843
            te                         25179
            zone                       13176
            lc meeting place           11536
            kisaawe kikadde             9730
                                       ...
left_only   mirambi t                      0
            mirambi s                      0
            mirambi primary school         0
            mirambi pr                     0
both        zziru pri                      0
Name: polling_station, Length: 36630, dtype: int64
8959014

In [24]:
merged_df.query("_merge == 'right_only' & polling_station == 'st'").groupby(["_merge", "d_names"])["d_names"].count().sort_values(ascending = False)

_merge      d_names
right_only  Wakiso      49247
            Kampala     32130
            Tororo       6790
            Masaka       6580
            Jinja        5655
                        ...
left_only   Luuka           0
            Lira            0
            Lamwo           0
            Kyenjojo        0
both        Zombo           0
Name: d_names, Length: 210, dtype: int64

In [25]:
merged_df.query("_merge == 'right_only' & polling_station == 'zone'").groupby(["_merge", "d_names"])["d_names"].count().sort_values(ascending = False)

_merge      d_names
right_only  Kampala    13176
left_only   Kampala        0
both        Kampala        0
Name: d_names, dtype: int64

## Improving the Merge (String Manipulation, v1)

In [3]:
# Removing special characters and all subsequent characters but including slashes
polls1['PS_name'] = polls1['PS_name'].str.split('[^\w\s\/]').str[0]

In [4]:
# Stripping whitespace
polls1['PS_name'] = polls1['PS_name'].str.strip()

In [5]:
# Lowering case
polls1['PS_name'] = polls1['PS_name'].str.lower()

In [6]:
# Removing excessive whitespace between characters
polls1['PS_name'] = polls1['PS_name'].str.replace('\s{2,}', ' ')

/var/folders/33/qp5k0v8128136rvjkr63g0x00000gn/T/ipykernel_55255/3256275680.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  polls1['PS_name'] = polls1['PS_name'].str.replace('\s{2,}', ' ')

In [7]:
# Removing special characters and all subsequent characters but including slashes
names1['polling_station'] = names1['polling_station'].str.split('[^\w\s\/]').str[0]

In [8]:
# Stripping whitespace
names1['polling_station'] = names1['polling_station'].str.strip()

In [9]:
# Lowering case
names1['polling_station'] = names1['polling_station'].str.lower()

In [10]:
# Removing excessive whitespace between characters
names1['polling_station'] = names1['polling_station'].str.replace('\s{2,}', ' ')

/var/folders/33/qp5k0v8128136rvjkr63g0x00000gn/T/ipykernel_55255/1799689514.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  names1['polling_station'] = names1['polling_station'].str.replace('\s{2,}', ' ')

In [11]:
# Merge polling station and voter dataframes
merged_df1 = pd.merge(polls1, names1, left_on = "PS_name", right_on = "polling_station", how = "outer", indicator = True)

In [12]:
# Finding the total number of unmerged voters and the most problematic stations
unmerge_people1 = merged_df1.query("_merge == 'right_only'").groupby(["_merge", "polling_station"])["polling_station"].count()
print(unmerge_people1.sort_values(ascending = False))
print(unmerge_people1.sum())

_merge      polling_station
right_only  zone                       13176
            maganjo b c                 5842
            maganjo a c                 4916
            kyebando umea kisaawe p     4060
            kooki                       3992
                                       ...
left_only   migongo pri                    0
            migyera pri sch                0
            migyerebiri pri sch            0
            mijale primary school          0
both        zziru pri                      0
Name: polling_station, Length: 24474, dtype: int64
4965502

## Improving the Merge (String Manipulation, v2)

In [2]:
polls2 = gpd.read_feather("data/polling_station_coords.feather")

In [3]:
names2 = pd.read_feather("data/names_with_kingdoms.feather")

In [4]:
# Removing special characters and all subsequent characters but including slashes
polls2['PS_name'] = polls2['PS_name'].str.split('[^\w\s\/]').str[0]

In [5]:
# Removing special characters and all subsequent characters but including slashes
names2['polling_station'] = names2['polling_station'].str.split('[^\w\s\/]').str[0]

In [6]:
# Stripping whitespace
polls2['PS_name'] = polls2['PS_name'].str.strip()

In [7]:
# Lowering case
polls2['PS_name'] = polls2['PS_name'].str.lower()

In [8]:
# Removing excessive whitespace between characters
polls2['PS_name'] = polls2['PS_name'].str.replace('\s{2,}', ' ')

/var/folders/33/qp5k0v8128136rvjkr63g0x00000gn/T/ipykernel_57864/2038811802.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  polls2['PS_name'] = polls2['PS_name'].str.replace('\s{2,}', ' ')

In [9]:
# Stripping whitespace
names2['polling_station'] = names2['polling_station'].str.strip()

In [10]:
# Lowering case
names2['polling_station'] = names2['polling_station'].str.lower()

In [11]:
# Removing excessive whitespace between characters
names2['polling_station'] = names2['polling_station'].str.replace('\s{2,}', ' ')

/var/folders/33/qp5k0v8128136rvjkr63g0x00000gn/T/ipykernel_57864/1975684153.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  names2['polling_station'] = names2['polling_station'].str.replace('\s{2,}', ' ')

In [12]:
# Merge polling station and voter dataframes
merged_df2 = pd.merge(polls2, names2, left_on = "PS_name", right_on = "polling_station", how = "outer", indicator = True)

In [13]:
# Finding the total number of unmerged voters and the most problematic stations
unmerge_people2 = merged_df2.query("_merge == 'right_only'").groupby(["_merge", "polling_station"])["polling_station"].count()
print(unmerge_people2.sort_values(ascending = False))
print(unmerge_people2.sum())

_merge      polling_station
right_only  zone                       13176
            maganjo b c                 5842
            maganjo a c                 4916
            kyebando umea kisaawe p     4060
            kooki                       3992
                                       ...
left_only   migongo pri                    0
            migyera pri sch                0
            migyerebiri pri sch            0
            mijale primary school          0
both        zziru pri                      0
Name: polling_station, Length: 24474, dtype: int64
4965502

In [14]:
# Select left_only or both merged rows
merged_df2 = merged_df2.query("_merge != 'right_only'")

In [15]:
# Select right-only merged rows
right_df = merged_df2.query("_merge == 'right_only'")

In [16]:
# Removing special characters and all subsequent characters
merged_df2['PS_name'] = merged_df2['PS_name'].str.split('[^\w\s]').str[0]

In [17]:
# Stripping whitespace
merged_df2['PS_name'] = merged_df2['PS_name'].str.strip()

In [18]:
# Removing special characters and all subsequent characters
right_df['polling_station'] = right_df['polling_station'].str.split('[^\w\s]').str[0]

In [19]:
# Stripping whitespace
right_df['polling_station'] = right_df['polling_station'].str.strip()

In [20]:
# Removing duplicated "on" and "indicator" columns to prepare for second merge
merged_df2 = merged_df2.drop('polling_station', axis=1)
merged_df2 = merged_df2.drop('_merge', axis=1)

In [21]:
# Removing duplicated "on" and "indicator" columns to prepare for second merge
right_df = right_df.drop('PS_name', axis=1)
right_df = right_df.drop('_merge', axis=1)

In [ ]:
# Merging polling station and voter dataframes
merged_df2 = pd.merge(merged_df2, right_df, left_on = "PS_name", right_on = "polling_station", how = "outer", indicator = True)

In [ ]:
# Finding the total number of unmerged voters and the most problematic stations
unmerge_people2 = merged_df2.query("_merge == 'right_only'").groupby(["_merge", "polling_station"])["polling_station"].count()
print(unmerge_people2.sort_values(ascending = False))
print(unmerge_people2.sum())

## Improving the Merge (String Manipulation, v3)

In [2]:
polls3 = gpd.read_feather("data/polling_station_coords.feather")

In [3]:
names3 = pd.read_feather("data/names_with_kingdoms.feather")

In [4]:
# Lowering case
polls3['PS_name'] = polls3['PS_name'].str.lower()

In [5]:
# Removing the "/" in "p/s"
polls3['PS_name'] = polls3['PS_name'].str.replace('p/s', 'ps')

In [6]:
# Removing special characters and all subsequent characters but including slashes
polls3['PS_name'] = polls3['PS_name'].str.split('[^\w\s\/]').str[0]

In [7]:
# Stripping whitespace
polls3['PS_name'] = polls3['PS_name'].str.strip()

In [ ]:
# Removing excessive whitespace between characters
polls3['PS_name'] = polls3['PS_name'].str.replace('\s{2,}', ' ')

In [8]:
# Lowering case
names3['polling_station'] = names3['polling_station'].str.lower()

In [10]:
# Removing the "/" in "p/s" 
names3['polling_station'] = names3['polling_station'].str.replace('p/s', 'ps')

In [11]:
# Removing special characters and all subsequent characters but including slashes
names3['polling_station'] = names3['polling_station'].str.split('[^\w\s\/]').str[0]

In [12]:
# Stripping whitespace
names3['polling_station'] = names3['polling_station'].str.strip()

In [ ]:
# Removing excessive whitespace between characters
names3['polling_station'] = names3['polling_station'].str.replace('\s{2,}', ' ')

In [13]:
# Merge polling station and voter dataframes
merged_df3 = pd.merge(polls3, names3, left_on = "PS_name", right_on = "polling_station", how = "outer", indicator = True)

In [14]:
# Finding the total number of unmerged voters and the most problematic stations
unmerge_people3 = merged_df3.query("_merge == 'right_only'").groupby(["_merge", "polling_station"])["polling_station"].count()
print(unmerge_people3.sort_values(ascending = False))
print(unmerge_people3.sum())

_merge      polling_station
right_only  zone                       13176
            maganjo b c                 5842
            maganjo a  c                4916
            kyebando umea kisaawe p     4060
            kooki                       3992
                                       ...
left_only   mijjunju p                     0
            mijuma t                       0
            mikera trading centre          0
            mikindo primary school         0
both        zziru pri                      0
Name: polling_station, Length: 24879, dtype: int64
5035341

## Improving the Merge (String Manipulation, v4)

In [2]:
polls4 = gpd.read_feather("data/polling_station_coords.feather")

In [3]:
names4 = pd.read_feather("data/names_with_kingdoms.feather")

In [6]:
# Lowering case
polls4['PS_name'] = polls4['PS_name'].str.lower()

In [7]:
# Removing all characters after "p/s"
polls4['PS_name'] = polls4['PS_name'].str.split('p/s').str[0]

In [8]:
# Removing special characters and all subsequent characters but including slashes
polls4['PS_name'] = polls4['PS_name'].str.split('[^\w\s]').str[0]

In [9]:
# Stripping whitespace
polls4['PS_name'] = polls4['PS_name'].str.strip()

In [10]:
# Removing excessive whitespace between characters
polls4['PS_name'] = polls4['PS_name'].str.replace('\s{2,}', ' ')

/var/folders/33/qp5k0v8128136rvjkr63g0x00000gn/T/ipykernel_60892/3208926429.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  polls4['PS_name'] = polls4['PS_name'].str.replace('\s{2,}', ' ')

In [11]:
# Lowering case
names4['polling_station'] = names4['polling_station'].str.lower()

In [12]:
# Removing all characters after "p/s"
polls4['PS_name'] = polls4['PS_name'].str.split('p/s').str[0]

In [13]:
# Removing special characters and all subsequent characters but including slashes
names4['polling_station'] = names4['polling_station'].str.split('[^\w\s]').str[0]

In [14]:
# Stripping whitespace
names4['polling_station'] = names4['polling_station'].str.strip()

In [15]:
# Removing excessive whitespace between characters
names4['polling_station'] = names4['polling_station'].str.replace('\s{2,}', ' ')

/var/folders/33/qp5k0v8128136rvjkr63g0x00000gn/T/ipykernel_60892/482096843.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  names4['polling_station'] = names4['polling_station'].str.replace('\s{2,}', ' ')

In [16]:
# Merge polling station and voter dataframes
merged_df4 = pd.merge(polls4, names4, left_on = "PS_name", right_on = "polling_station", how = "outer", indicator = True)

In [17]:
# Finding the total number of unmerged voters and the most problematic stations
unmerge_people4 = merged_df4.query("_merge == 'right_only'").groupby(["_merge", "polling_station"])["polling_station"].count()
print(unmerge_people4.sort_values(ascending = False))
print(unmerge_people4.sum())

_merge      polling_station
right_only  zone                       13176
            kyebando umea kisaawe p     4060
            kashenyi pri sch            3430
            kiteezi disabled p          3123
            kireka umea p               3096
                                       ...
left_only   minani pr school               0
            miniki primary school          0
            minja p                        0
            mirama pri sch                 0
both        zziru pri                      0
Name: polling_station, Length: 20682, dtype: int64
4186953

## Improving the Merge (best version)

In [2]:
polls5 = gpd.read_feather("data/polling_station_coords.feather")

In [3]:
names5 = pd.read_feather("data/names_with_kingdoms.feather")

In [4]:
# Removing special characters and all subsequent characters
polls5['PS_name'] = polls5['PS_name'].str.split('[^\w\s]').str[0]

In [5]:
# Stripping whitespace
polls5['PS_name'] = polls5['PS_name'].str.strip()

In [6]:
# Lowering case
polls5['PS_name'] = polls5['PS_name'].str.lower()

In [7]:
# Removing special characters and all subsequent characters
names5['polling_station'] = names5['polling_station'].str.split('[^\w\s]').str[0]

In [8]:
# Stripping whitespace
names5['polling_station'] = names5['polling_station'].str.strip()

In [9]:
# Lowering case
names5['polling_station'] = names5['polling_station'].str.lower()

In [10]:
# Merge polling station and voter dataframes
merged_df5 = pd.merge(polls5, names5, left_on = "PS_name", right_on = "polling_station", how = "outer", indicator = True)

In [11]:
# Finding the total number of unmerged voters and the most problematic stations
unmerge_people5 = merged_df5.query("_merge == 'right_only'").groupby(["_merge", "polling_station"])["polling_station"].count()
print(unmerge_people5.sort_values(ascending = False))
print(unmerge_people5.sum())

_merge      polling_station
right_only  zone                       13176
            kooki                       3992
            kashenyi pri sch            3430
            ntungamo pri sch            2900
            seguku zone                 2869
                                       ...
left_only   mitimikalu pri                 0
            mitooma central pri sch        0
            mitooma pri sch                0
            mituba trading centre          0
both        zziru pri                      0
Name: polling_station, Length: 16611, dtype: int64
3275652

## Checking on the New R^2

In [12]:
# Identify successfully merged voters
merged_df5 = merged_df5[merged_df5["_merge"] == "both"]

In [ ]:
# Spatially join with district information
joined_df5 = gpd.sjoin(districts, merged_df5, how = "left", op = "intersects")

/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3400: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/33/qp5k0v8128136rvjkr63g0x00000gn/T/ipykernel_9957/121740815.py:2: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: None

  joined_df5 = gpd.sjoin(districts, merged_df5, how = "left", op = "intersects")

In [ ]:
# Drop Wakiso and Kampala
joined_df5 = joined_df5[joined_df5["2016"] != "WAKISO"]
joined_df5 = joined_df5[joined_df5["2016"] != "KAMPALA"]
len(joined_df5)

In [ ]:
# Conduct group_by sample
df_sample = joined_df5.groupby("region").sample(8000, random_state = 8)

In [ ]:
# Convert 'lat_lon' column to separate 'lat' and 'lon' columns
lat = []
lon = []

for x in df_sample['lat_lon']:
    lat.append(x[0])
    lon.append(x[1])

df_sample['lat'] = lat
df_sample['lon'] = lon

In [ ]:
# Create train-test split
feature_pipeline = Pipeline(
    [
        ('tfidf', TfidfVectorizer(ngram_range = (1,3), analyzer='char_wb', lowercase=False, min_df=3)),
    ]
)

labels = LabelEncoder()

X_train, X_test, y_train, y_test = train_test_split(
    df_sample['surname'], df_sample[['lat', 'lon']], random_state=8, test_size=.3
)

feature_pipeline.fit(X_train)

X_train = feature_pipeline.transform(X_train)
X_test = feature_pipeline.transform(X_test)

In [ ]:
# Fit MultiTaskElasticNet model
model = MultiTaskElasticNetCV()

model.fit(X_train.toarray(), y_train)

In [ ]:
# Find R^2 for training data
model.score(X_train, y_train)

In [ ]:
# Find R^2 for test data
model.score(X_test, y_test)

In [ ]:
# Saving model
file = 'zhang_multi_task_new.sav'
joblib.dump(model, open(file, 'wb'))